# Start(lab 1)

## Home - Syntax

In [1]:
print('hello, world')

hello, world

C:\Users\Your Name>python --version
python --version
C:\Users\Your Name>python helloworld.py
Hello, World!

C:\Users\Your Name>python
Python 3.6.4 (v3.6.4:d48eceb, Dec 19 2017, 06:04:45) [MSC v.1900 32 bit (Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.
>>> print("Hello, World!")
Hello, World!
exit()

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

In [3]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

<class 'IndentationError'>: unexpected indent (<ipython-input-3-a4dba24e2a47>, line 3)

__Comments__

In [ ]:
#This is a comment
print("Hello, World!")

print("Hello, World!") #This is a comment

#print("Hello, World!")
print("Cheers, Mate!")

#This is a comment
#written in
#more than just one line
print("Hello, World!")

"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

## Python Variables

In [7]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [8]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [11]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [12]:
#type may be used to show the type of a variable
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#Quotes

x = "John"
# is the same as
x = 'John'

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

In [ ]:
# Legal names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
# Ilegal names
2myvar = "John"
my-var = "John"
my var = "John"

__Many values to multiple variables__

In [1]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [2]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [3]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

__Output variables__

In [4]:
x = "Python is awesome"
print(x)

Python is awesome

In [5]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [6]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [7]:
x = 5
y = 10
print(x + y)

15

In [8]:
x = 5
y = "John"
print(x, y)

5 John

Global Variables

In [9]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [10]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [11]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [12]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

## Data types - Casting

__Built-in Data Types__

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

In [ ]:
Setting the Data Types
Example	                                        Data Type
x = "Hello World"	                            str	
x = 20	                                        int	
x = 20.5	                                    float	
x = 1j	                                        complex	
x = ["apple", "banana", "cherry"]	            list	
x = ("apple", "banana", "cherry")	            tuple	
x = range(6)	                                range	
x = {"name" : "John", "age" : 36}	            dict	
x = {"apple", "banana", "cherry"}	            set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	                                    bool	
x = b"Hello"	                                bytes	
x = bytearray(5)	                            bytearray	
x = memoryview(bytes(5))	                    memoryview	
x = None	                                    NoneType

In [ ]:
Setting the Specific Data Type
Example	                                        Data Type
x = str("Hello World")	                        str	
x = int(20)	                                    int	
x = float(20.5)	                                float	
x = complex(1j)	                                complex	
x = list(("apple", "banana", "cherry"))	        list	
x = tuple(("apple", "banana", "cherry"))	    tuple	
x = range(6)	                                range	
x = dict(name="John", age=36)	                dict	
x = set(("apple", "banana", "cherry"))	        set	
x = frozenset(("apple", "banana", "cherry"))	frozenset	
x = bool(5)	                                    bool	
x = bytes(5)	                                bytes	
x = bytearray(5)	                            bytearray	
x = memoryview(bytes(5))	                    memoryview

__Numbers__

In [15]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [16]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [17]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [18]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [22]:
# Complex numbers are written with a "j" as the imaginary part:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [21]:
# Type conversion
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [24]:
# Random Number
import random

print(random.randrange(1, 10))

9

__Casting__

In [25]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [26]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [27]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

## Strings

__Strings__

In [28]:
print("Hello")
print('Hello')

Hello
Hello

In [29]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [30]:
a = "Hello"
print(a)

Hello

In [31]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [32]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [33]:
a = "Hello, World!"
print(a[1])

e

In [34]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [35]:
a = "Hello, World!"
print(len(a))

13

In [36]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [37]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [38]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [39]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

__Slicing Strings__

In [40]:
b = "Hello, World!"
print(b[2:5])

llo

In [41]:
b = "Hello, World!"
print(b[:5])

Hello

In [42]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [43]:
b = "Hello, World!"
print(b[-5:-2])

orl

__Modify Strings__

In [44]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [45]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [46]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [47]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [48]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

__String Concatenation__

In [49]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [50]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

__Format Strings__

In [53]:
#As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:
age = 36
txt = "My name is John, I am " + age
print(txt)

<class 'TypeError'>: can only concatenate str (not "int") to str

In [55]:
# But we can combine strings and numbers by using f-strings or the format() method!
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [56]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [57]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [58]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

__Escape Characters__

In [61]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

<class 'SyntaxError'>: invalid syntax (<ipython-input-61-485014d8dfdf>, line 1)

In [60]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Code	     Result
\'	         Single Quote	
\\	         Backslash	
\n	         New Line	
\r	         Carriage Return	
\t	         Tab	
\b	         Backspace	
\f	         Form Feed	
\ooo	     Octal value	
\xhh	     Hex value

__String Methods__

Method	             Description
capitalize()	     Converts the first character to upper case
casefold()	         Converts string into lower case
center()	         Returns a centered string
count()	             Returns the number of times a specified value occurs in a string
encode()	         Returns an encoded version of the string
endswith()	         Returns true if the string ends with the specified value
expandtabs()	     Sets the tab size of the string
find()	             Searches the string for a specified value and returns the position of where it was found
format()	         Formats specified values in a string
format_map()	     Formats specified values in a string
index()	             Searches the string for a specified value and returns the position of where it was found
isalnum()	         Returns True if all characters in the string are alphanumeric
isalpha()	         Returns True if all characters in the string are in the alphabet
isascii()	         Returns True if all characters in the string are ascii characters
isdecimal()	         Returns True if all characters in the string are decimals
isdigit()	         Returns True if all characters in the string are digits
isidentifier()	     Returns True if the string is an identifier
islower()	         Returns True if all characters in the string are lower case
isnumeric()	         Returns True if all characters in the string are numeric
isprintable()	     Returns True if all characters in the string are printable
isspace()	         Returns True if all characters in the string are whitespaces
istitle()	         Returns True if the string follows the rules of a title
isupper()	         Returns True if all characters in the string are upper case
join()	             Joins the elements of an iterable to the end of the string
ljust()	             Returns a left justified version of the string
lower()	             Converts a string into lower case
lstrip()	         Returns a left trim version of the string
maketrans()	         Returns a translation table to be used in translations
partition()	         Returns a tuple where the string is parted into three parts
replace()	         Returns a string where a specified value is replaced with a specified value
rfind()	             Searches the string for a specified value and returns the last position of where it was found
rindex()	         Searches the string for a specified value and returns the last position of where it was found
rjust()	             Returns a right justified version of the string
rpartition()	     Returns a tuple where the string is parted into three parts
rsplit()	         Splits the string at the specified separator, and returns a list
rstrip()	         Returns a right trim version of the string
split()	             Splits the string at the specified separator, and returns a list
splitlines()	     Splits the string at line breaks and returns a list
startswith()	     Returns true if the string starts with the specified value
strip()	             Returns a trimmed version of the string
swapcase()	         Swaps cases, lower case becomes upper case and vice versa
title()	             Converts the first character of each word to upper case
translate()	         Returns a translated string
upper()	             Converts a string into upper case
zfill()	             Fills the string with a specified number of 0 values at the beginning

In [14]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [15]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [16]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [19]:
#String, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [20]:
list1 = ["abc", 34, True, 40, "male"] #A list with strings, integers and boolean values

In [21]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)